@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/CoolveticaRg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edwardian Script ITC';
  src:
    local('Edwardian Script ITC'),
    local('EdwardianScriptITC'),
    local('Edwardian Script');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}