<div class="ambient-bg" aria-hidden="true">
  <div class="ambient-orb ambient-orb--1"></div>
  <div class="ambient-orb ambient-orb--2"></div>
  <div class="ambient-orb ambient-orb--3"></div>
  <div class="ambient-grid"></div>
  <div class="ambient-timeline"></div>
  <div class="ambient-crops">
    <span class="ambient-crop ambient-crop--tl"></span>
    <span class="ambient-crop ambient-crop--tr"></span>
    <span class="ambient-crop ambient-crop--bl"></span>
    <span class="ambient-crop ambient-crop--br"></span>
  </div>
  <div class="ambient-sweep"></div>
  <div class="ambient-vignette"></div>
</div>