---
import { vimeoEmbedUrl, type PortfolioItem } from '../data/portfolio';

interface Props {
  item: PortfolioItem;
}

const { item } = Astro.props;
const iframeSrc = vimeoEmbedUrl(item.vimeoId);
---

<article class="video-card video-card--embed">
  <div class="video-embed">
    <iframe
      src={iframeSrc}
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      title={item.title}
      loading="lazy"
    ></iframe>
  </div>
</article>